/**
 * Reset some basic elements
 */
* , * ::after, * ::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box
}

body {
  font-family: sohne-var, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  margin: 0;
  padding: 0;
}

input, select {
  display: block;
  font-family: sohne-var, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
