.main {
  display: block;
  width: var(--windowWidth);
}

.header {
  background: var(--yellow100) url('/assets/imgs/map-texture.png') center top no-repeat;
}

.header--character {
  padding: var(--spacerDependentLarge) calc(var(--columnPadding) + var(--gutterWidth));
}

.intro {
  font-weight: 425;
  font-size: var(--introSize);
  color: var(--black100);
}

.section,
.section__table {
  margin: 0 var(--gutterWidth);
  padding: var(--spacerSectionLarge) 0 0 0;
}

.section__title,
.section__content,
.section__cell {
  padding: 0 var(--columnPadding);
}

.small {
  font-weight: var(--smallTextWeight);
  font-size: var(--smallSize);
}

.small--dark {
  color: #595959;
  margin: 0;
}

.footer {
  padding: var(--spacerDependentLarge) calc(var(--columnPadding) + var(--gutterWidth));
  background: var(--black10) url('/assets/imgs/pheasant.png') center var(--spacerDependentLarge) no-repeat;
}

.nav {
  display: flex;
  flex-direction: column-reverse;
}

.logo {
  width: 140px;
  height: 22px;
  overflow: hidden;
  text-indent: -999px;
  background: url('/assets/imgs/logo.svg') center left no-repeat;
  display: block;
  border: 0;
  margin: 0 0 var(--spacerDependentLarge) 0;
}

.logo--contrast {
  background: url('/assets/imgs/logo--contrast.svg') center left no-repeat;
  margin: var(--spacerDependentLarge) 0;
}

.cta {
  display: none;
  border: 2px solid var(--black100);
  padding: 10px 35px;
  border-radius: 22px;
  font-size: var(--smallSize);
  font-weight: 425;
  color: var(--black100);
  text-align: center;
}

.cta:hover {
  border: 2px solid var(--black100);
  background: var(--black100);
  color: var(--yellow100);
}

.cta--contrast {
  display: inline-block;
  color: var(--yellow100);
  border-color: var(--yellow100);
}

.cta--contrast:hover {
  border: 2px solid var(--yellow100);
  background: var(--yellow100);
  color: var(--black100);
}

.client-logos {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    width: 100%;
    height: 150px;
    display: flex;
    background: var(--black10);
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 0 var(--spacerRelatedLarge) 0;

    svg {
      width: 80%;
      max-height: var(--clientHeight);
      max-width: var(--clientWidth);
      fill: var(--clientColor);
    }
  }
}

.copyright {
  margin: 0;
}

@media (min-width: 480px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 var(--spacerSectionSmall) 0;
  }

  .cta {
    display: block;
  }

  .footer {
    background-position: left var(--spacerDependentLarge);
  }

  .logo {
    margin: 0;
    height: 44px;
  }

  .client-logos {
    li {
      width: calc(var(--columnWidth) - 12px);
      height: 145px;
      margin: 0 var(--spacerRelatedSmall) var(--spacerRelatedSmall) 0;
    }

    li:nth-child(even) {
      margin: 0 0 var(--spacerRelatedSmall) 0;
    }
  }
}

@media (min-width: 660px) {
  .header--character {
    background: url("/assets/imgs/cow.png") no-repeat;
    background-position: calc(var(--columnWidth) + 20px) 185px;
    background-size: 685px auto;
  }

  .intro {
    width: calc(var(--columnWidth) - 20px);
  }

  .section__table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section__cell {
    width: var(--columnWidth);
  }

  .client-logos {
    li {
      width: calc(var(--columnWidth) / 2 - 12px);
      height: 80px;
    }
  }
}

@media (min-width: 740px) {
  .header--character {
    background-position: calc(50vw + var(--columnWidth)) 185px;
  }

  .nav {
    width: 700px;
    margin: 0 auto var(--spacerSectionLarge) auto;
  }

  .content {
    width: 720px;
    margin: 0 auto var(--spacerSectionLarge) auto;
  }

  .intro {
    width: calc(7 * var(--columnWidth));
  }

  .section {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  .section,
  .section__table {
    width: 720px;
    margin: 0 auto;
  }

  .section__title,
  .section__content,
  .section__cell {
    width: calc(6 * var(--columnWidth));
  }

  .client-logos {
    li {
      width: calc(3 * var(--columnWidth) - 12px);
      height: 145px;
    }
  }
}

@media (min-width: 980px) {
  .header {
    width: 940px;
    margin: 0 auto;
  }

  .header--character {
    background-position: calc(6 * var(--columnWidth)) 295px;
  }

  .intro {
    width: calc(5 * var(--columnWidth));
  }

  .nav,
  .content,
  .section,
  .section__table {
    width: calc(10 * var(--columnWidth));
  }

  .section__title,
  .section__content,
  .section__cell {
    width: calc(5 * var(--columnWidth));
  }

  .client-logos {
    li {
      width: calc(2.5 * var(--columnWidth) - 12px);
      height: 80px;
    }
  }
}

@media (min-width: 1160px) {
  .header {
    width: 1120px;
  }

  .header--character {
    background-position: calc(7 * var(--columnWidth)) 295px;
  }

  .nav,
  .content,
  .section,
  .section__table {
    width: calc(12 * var(--columnWidth));
  }

  .section__title,
  .section__content,
  .section__cell {
    width: calc(6 * var(--columnWidth));
  }

  .client-logos {
    li {
      width: calc(3 * var(--columnWidth) - 12px);
      height: 110px;
    }
  }
}

@media (min-width: 1320px) {
  .header {
    width: 1280px;
    margin: 0 auto;
  }

  .header--character {
    background-position: calc(8 * var(--columnWidth)) 295px;
  }
}
