@font-face {
  font-family: "Tiempos Headline";
  font-weight: 700;
  src: url('/assets/fonts/c6e75166.woff') format('woff');
}
@font-face {
  font-family: "Input Mono Narrow";
  font-weight: 700;
  src: url('/assets/fonts/dh6fo3s8.woff') format('woff');
}
@font-face {
  font-family: "Input Mono Narrow";
  font-weight: 400;
  src: url('/assets/fonts/d5dd9f5d.woff') format('woff');
}
